<!-- The footer at the very bottom of the screen -->
<footer class="footer section-padding">
  <div class="grid">
    <div class="footer__container">
      <p class="license">
        <small>
          Sofern nicht anders angegeben, ist der Inhalt dieser Website lizenziert unter einer
          <a href="https://creativecommons.org/licenses/by-sa/4.0/"
          target="_blank">Creative Commons Attribution-ShareAlike 4.0
          International (CC BY-SA 4.0)  Lizenz</a>. Du kannst mich <a
          href="https://dergigi.com/support">hier supporten</a> 
        </small>
      </p>
      {% include social.html %}
      <p class="license">
        <small>
          Made with 💜 by <a href="https://dergigi.com">Gigi</a> - Übersetzt von <a href="https://twitter.com/cercatrova_21">cercatrova</a>
        </small>
      </p>
    </div>
  </div>
</footer>

{% if paginator.next_page %}
  <script>
    var maxPages = parseInt('{{ paginator.total_pages }}');
  </script>
{% endif %}

<script src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>
