<nav>
  <ul class="header__list">
    <li><a href="#keys">Schlüssel</a></li>
    <li><a href="#clients">Clients</a></li>
    <li><a href="#relays">Relays</a></li>
    <li><a href="#pro-tips">Pro-Tips</a></li>
    <li><a href="https://uselessshit.co/resources/nostr/" target="_blank">FAQ</a></li>
    <li><a href="#translations" title="Übersetzungen"><i class="fa fa-language"></i></a></li>
    <li><a href="https://github.com/cercatrova21/nostr-info.de" title="GitHub"><i class="fa fa-code-fork"></i></a></li>
  </ul>
</nav>
